* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.card-container {
  margin: 50px 0;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  display: grid;
}

.cart-warning {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-button {
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#chooseForMe {
  background-color: rgb(3, 121, 3);
  color: bisque;
  border-radius: 10px;
  padding: 15px;
}

#chooseForMe:hover {
  background-color: rgb(0, 192, 0);
 
}

#emptyCart {
  background-color: rgba(243, 63, 63, 0.87);
  color: bisque;
  margin-left: 20px;
  border-radius: 10px;
  padding: 15px;
}

#emptyCart:hover {
  background-color: rgb(253, 0, 0);

}

.shop-container{
  display: grid;
  grid-template-columns:4fr 2fr;
}
.summary-container{
  text-align: center;
  margin: 50px 0;
  height: 45px;
}